@model FootbalManager_UIL.ListJoueurViewModel

@{
    ViewBag.Title = "Index";
}
@{
    List<SelectListItem> listContinent = new List<SelectListItem>();
}
@foreach (var item in Model.ListeContinent)
{
    listContinent.Add(new SelectListItem
    {
        Text = item.NomContinentM,
        Value = item.IdM.ToString()
    });
}
@{
    List<SelectListItem> listPays = new List<SelectListItem>();
}
@foreach (var item in Model.ListePays)
{
    listPays.Add(new SelectListItem
    {
        Text = item.NomPaysM,
        Value = item.IdM.ToString()
    });
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.DropDownList("DDlContinent", new SelectList(listContinent, "Value", "Text"), new { @class = "optionContinent alert-danger", @id = "DDlContinent", onchange = "clickMe()"
}) |
    @Html.DropDownList("DDlPays", new SelectList(listPays, "Value", "Text")) |
    @Html.TextBox("Autocomplete")
</p>
<table class="table table-bordered table-striped table-dark table-responsive">
    <tr>
        <th>
            @Html.DisplayName("NomJoueur")
        </th>
        <th>
            @Html.DisplayName("Prenom")
        </th>
        <th>
            @Html.DisplayName("Naissance")
        </th>
        <th>
            @Html.DisplayName("FinContrat")
        </th>
        <th>
            @Html.DisplayName("Salaire")
        </th>
        <th>
            @Html.DisplayName("Position")
        </th>
        <th>
            @Html.DisplayName("NomEquipe")
        </th>
        <th>
            @Html.DisplayName("NomPays")
        </th>
        <th>
            @Html.DisplayName("Agent")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ListeJoueur)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomJoueurM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNaissanceM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFinContratM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaireHebdomadaireM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEquipeM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomPaysM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomPrenomAgentM)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditJoueur", new { idJoueur = item.IdM }) |
                @Html.ActionLink("Details", "DetailsJoueur", new { idJoueur = item.IdM }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $("document").ready();
    function clickMe() {
        var idContinent = $('.optionContinent').val();
        var idPays = 0, idEquipe = 0, idPosition = 0, idJoueur = 0;
        @Html.ActionLink("Get", "GetJoueur", new { idContinent, idPays, idEquipe, idPosition, idJoueur })
    }
</script>

