@model FootbalManager_UIL.JoueurViewModel

@{
    ViewBag.Title = "DetailsJoueur";
}

<h2>DetailJoueur</h2>

<div>
    <h4>ListJoueurViewModel</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("NomJoueur")
        </th>
        <th>
            @Html.DisplayName("Prenom")
        </th>
        <th>
            @Html.DisplayName("Naissance")
        </th>
        <th>
            @Html.DisplayName("DebutContrat")
        </th>
        <th>
            @Html.DisplayName("FinContrat")
        </th>
        <th>
            @Html.DisplayName("Salaire")
        </th>
        <th>
            @Html.DisplayName("Taille")
        </th>
        <th>
            @Html.DisplayName("Poid")
        </th>
        <th>
            @Html.DisplayName("Equipe")
        </th>
        <th>
            @Html.DisplayName("Pays")
        </th>
        <th>
            @Html.DisplayName("Agent")
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.IdM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.NomJoueurM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.PrenomM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.DateNaissanceM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.DateDebutContratM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.DateFinContratM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.SalaireHebdomadaireM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.TailleM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.PoidM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.NomEquipeM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.NomPaysM)
        </td>
        <td>
            @Html.DisplayFor(model => model.JoueurVM.NomPrenomAgentM)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditJoueur", new {
           idContinent = Model.JoueurVM.FkContinentM,
           idPays = Model.JoueurVM.FkPaysM,
           idEquipe = Model.JoueurVM.FkEquipeM,
           idPosition = Model.JoueurVM.FkPositionM,
           idJoueur = Model.JoueurVM.IdM }) |
            @Html.ActionLink("Make an offer", "CreateOffre", new {
           idContinent = Model.JoueurVM.FkContinentM,
           idPays = Model.JoueurVM.FkPaysM,
           idEquipe = Model.JoueurVM.FkEquipeM,
           idPosition = Model.JoueurVM.FkPositionM,
           idJoueur = Model.JoueurVM.IdM,
           message = "Make your offer!" }) 
           
        </td>
    </tr>


</table>
<div>
    @Html.ActionLink("Back to List", "GetJoueur", new {
          idContinent = Model.JoueurVM.FkContinentM,
          idPays = Model.JoueurVM.FkPaysM,
          idEquipe = Model.JoueurVM.FkEquipeM
      } )
</div>
