@model FootbalManager_UIL.ContinentPaysEquipeViewModel

@{
    ViewBag.Title = "GetEquipe";
}

<h2>GetEquipe</h2>

<table class="table">
    <tr>    
        <th>                  
            @Html.DisplayName("NomEquipe")
        </th>                 
        <th>                  
            @Html.DisplayName("SurNom")
        </th>                 
        <th>                  
            @Html.DisplayName("Abreviation")
        </th>   
        <th>                  
            @Html.DisplayName("Pdg")
        </th>                 
        <th>                  
            @Html.DisplayName("Entraineur")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ListeEquipeVM)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomEquipeM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurNomM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbreviationM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdgM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntraineurM)
            </td>
            <td>
                @Html.ActionLink("Choisir", "GetJoueur", new { idContinent = item.FkContinentM, idPays = item.FkPaysM, idEquipe = item.IdM }) |
                @Html.ActionLink("Edit", "EditEquipe", new {
               idContinent = item.FkContinentM,
               idPays = item.FkPaysM,
               idEquipe = item.IdM }) |
                @Html.ActionLink("Details", "DetailsEquipe", new {
               idContinent = item.FkContinentM,
               idPays = item.FkPaysM,
               idEquipe = item.IdM})
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back", "GetPays", new { idContinent = Model.ListeEquipeVM.FirstOrDefault().FkContinentM })
</div>