@model FootbalManager_UIL.ContinentPaysEquipeViewModel

@{
    ViewBag.Title = "GetEquipe";
}

<h2>GetEquipe</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>                 
        <th>                  
            @Html.DisplayName("NomEquipe")
        </th>                 
        <th>                  
            @Html.DisplayName("SurNom")
        </th>                 
        <th>                  
            @Html.DisplayName("Abreviation")
        </th>                 
        <th>                  
            @Html.DisplayName("DateFondation")
        </th>                 
        <th>                  
            @Html.DisplayName("Pdg")
        </th>                 
        <th>                  
            @Html.DisplayName("Entraineur")
        </th>                 
        <th>                  
            @Html.DisplayName("NomStade")
        </th>                 
        <th>                  
            @Html.DisplayName("NbrCoupeNation")
        </th>                 
        <th>                  
            @Html.DisplayName("NbrCoupeContinental")
        </th>                 
        <th>                  
            @Html.DisplayName("NomPays")
        </th>                 
        <th>                  
            @Html.DisplayName("NomContinent")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ListeEquipeVM)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEquipeM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurNomM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbreviationM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFondationM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdgM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntraineurM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomStadeM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbrCoupeNationM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbrCoupeContinentalM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomPaysM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomContinentM)
            </td>
            <td>
                @Html.ActionLink("Choisir", "GetJoueur", new {idContinent = Model.FkContinent , idPays = Model.FkPays, idEquipe = item.IdM }) |
                @Html.ActionLink("Back", "GetPays", new { idContinent = Model.FkContinent})
            </td>
        </tr>
    }

</table>